autogluon==1.2
moviepy==1.0.3
numpy==1.26.4
opencv_python==4.10.0.84
opencv_python_headless==4.9.0.80
pandas==2.2.2
scenedetect==0.6.1
scikit_learn==1.5.2
scipy==1.14.1
torch==2.4.0
torchvision==0.19.0
tqdm==4.66.5
ultralytics==8.2.82
